@use '../mixins';
@use '../media';

.button {
    @include mixins.flex-center(true);

    height: var(--button-height);
    padding-inline: 35px;
    font-size: 20px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border: var(--border-black);
    border-radius: var(--border-radius);

    @include media.hover {
        color: var(--color-dark);
        background-color: var(--color-green);
    }

    &--transparent {
        color: var(--color-dark);
        background-color: transparent;
    }

    &--accent {
        color: var(--color-dark);
        background-color: var(--color-green);

        @include media.hover {
            color: var(--color-green);
            background-color: var(--color-dark);
        }
}
}